<%- include('includes/header.ejs') %>
   <!-- Checking if contact is defined before rending -->
   <main>

      <h1>
         Edit Information
      </h1>

      <form method="Post" action="/pub_edit_process" enctype="multipart/form-data">
         <div>
            <input type="text" id="id" name="id" hidden value="<%= pubs._id %>">
         </div>

         <div>
            <label for="type">Type</label>
            <input type="text" id="type" name="type" value="<%= pubs.type %>">
         </div>
         <div>
            <label for="author">Author</label>
            <textarea id="author" name="author"><%= pubs.author %></textarea>
            <!-- <input type="text" id="author" name="author" value="<%= pubs.author %>"> -->
         </div>
         <div>
            <label for="year">Year</label>
            <input type="text" id="year" name="year" value="<%= pubs.year %>">
         </div>
         <div>
            <label for="title">Title</label>
            <textarea id="title" name="title"><%= pubs.title %></textarea>
            <!-- <input type="text" id="title" name="title" value="<%= pubs.title %>"> -->
         </div>
         <div>
            <label for="publisher">Publisher</label>
            <input type="text" id="publisher" name="publisher" value="<%= pubs.publisher %>">
         </div>
         <div>
            <label for="vol">Vol</label>
            <input type="text" id="vol" name="vol" value="<%= pubs.vol %>">
         </div>
         <div>
            <label for="page">Page</label>
            <input type="text" id="page" name="page" value="<%= pubs.page %>">
         </div>
         <div>
            <label for="desc">Description</label>
            <textarea id="desc" name="desc"><%= pubs.desc %></textarea>
            <!-- <input type="text" id="desc" name="desc" value="<%= pubs.desc %>"> -->
         </div>
         <br />

         <input type="submit" value="Update">
      </form>

      <div>
         <p>
            <% if(typeof(errors) !='undefined' ){ for(error of errors){ %>
               <%= error.msg %><br>
                  <% } } %>
         </p>
      </div>
   </main>


   <%- include('includes/footer.ejs') %>